@model CommonLayer.Models.Employee

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/DeleteEmp.css" />
<div class="head">
    <img src="~/assets/images/logo.png" style="width:50px;height:47px" />
    <div>
        <span style="color: #82A70C">EMPLOYEE</span><br />
        <span style="color: #42515F"> PAYROLL</span>
    </div>
</div>


<div class="heading">
    <span style="color:green">Delete</span><br />
    <span style="color: yellow"> Employee</span>
</div>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Startdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Startdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
