@model CommonLayer.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/DetailEmp.css" />
<div class="header">
    <img src="~/assets/images/logo.png" />
    <div><span style="color: #82A70C">EMPLOYEE </span><br /><span style="color: #42515F">PAYROLL</span></div>
</div>
<div class="details"><h3>Employee Details</h3></div>
<div style="background-color:#F2F3F4">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfileImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Startdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Startdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div class="buttons">
    
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpId }) |
    <a asp-action="Index">Back to List</a>
</div>
