@model IEnumerable<CommonLayer.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
<div class="header">
    <img src="~/assets/images/logo.png" style="width:50px;height:47px" />
    <div><span style="color: #82A70C"> EMPLOYEE </span><br /><span style="color: #42515F"> PAYROLL</span></div>
</div>
<h1 style="color:blue" class="Employee" >Employee Index</h1>

<p>
    <input type="button"onclick="location.href='@Url.Action("Create", "Employee")'" value="Create Employee" class="btn btn-primary" />
    @*<a asp-action="Create"class="Create">Create New</a>*@
    @*onclick="location.href='@Url.Action("Create", "Employee")'">*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { EmpId = item.EmpId }) |
                @Html.ActionLink("Details", "Details", new { EmpId = item.EmpId }) |
                @Html.ActionLink("Delete", "Delete", new { EmpId = item.EmpId })
            </td>
        </tr>
    }
    </tbody>
</table>
